<h1>Device</h1>
<div>
  <div>
    <p>Name:</p>
    <%= @device.name %>
  </div>

  <div>
    <p>Mac address</p>
    <%= @device.mac_address%>
  </div>

  <div>
    <p>Code:</p>
    <%= @device.code %>
  </div>
  <%= link_to 'Back', devices_path %>
</div>
